{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_intellicart/user-reviews

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
{{! reviews filter }}
{{#user.showreviewsfilter}}
    <div class="reviews-filter">
        <ul class="clearfix">
            <li>
                <a href="javascript:void(0)" class="active btn-reviews-filter" data-filter="0">{{# str }} showall, local_intellicart {{/ str }}</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="btn-reviews-filter" data-filter="1">{{# str }} approved, local_intellicart {{/ str }}</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="btn-reviews-filter" data-filter="2">{{# str }} pending, local_intellicart {{/ str }}<span class="number">{{user.pendingreviews}}</span></a>
            </li>
        </ul>
    </div>
{{/user.showreviewsfilter}}

{{! reviews posts }}
<div class="reviews-posts" data-instanceid="{{user.id}}" data-type="user" data-filter="0">

    {{#user.reviews}}
        {{> local_intellicart/reviews-post }}
    {{/user.reviews}}

    {{#user.reviewstotal}}
        {{> local_intellicart/reviews-user-pagination }}
    {{/user.reviewstotal}}

</div>

{{! reviews form }}
{{#user.cancreatereview}}
    {{> local_intellicart/reviews-user-post-form }}
{{/user.cancreatereview}}